/* Source: https://www.studytonight.com/code/playground/web/?id=chjCL2 */

  /* CSS for switch*/
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 26px;
	  padding-top: 8px;
	}

	/* Hiding the default checkbox*/
	.switch input {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	/* The slider */
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #cccccc;
	  -webkit-transition: .1s;
	  transition: .1s;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;	
	}

    /* Before sliding */
	.slider:before {
	  position: absolute;
	  content: "\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0 CLOSED";
	  font-size: 20px;
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  font-size: 20px;
	  -webkit-transition: .1s;
	  transition: .1s;
	  border-radius: 3px;
	}

	input:checked + .slider {
	  background-color: #234567;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #564311;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	  content: "\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0 OPEN";
	}

	input[type=text] {
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	  outline: none;
	  height: 32px;
	  border: 1px solid #bfbfbf;
	  margin-right: 15px;
	}	

	label.comment {
		width: 130px;
		display: inline-block;
	}

	div {
		padding: 7px;
		margin: 3px;
		border: 1px dotted red;
		border-radius: 10px;
	}
